{% extends '_layout.twig' %}

{% block content %}

  <h2>Welcome!</h2>
  <big><p>I'm Dr. Hugh Schtinck, your friendly internet psychiatrist!</p></big>
  <p>I'm the world's cheapest psychoanalyst. But what price can you put on 'piece of mind' anyway?</p>
  <p><a href="{{ site.url }}">Tell me what I got, doc!</a></p>

{% endblock %}
